
:root {
    --clr1: #19a59f;
    --clr2: #21ac91;
    --clr3: #1e7cd3;
    --clr4: #5970c1;
    --clr5: #8f44bb;
    --clr6: #3e4b68;
    --clr10: #ffffff;
    --clr11: #fefefe;
    --clr13: #ebeef3;
    --clr15: #22252c;
    --clr16: #3d3d3d;
    --clr17: #383b42;
}