
@media (min-width: 1400px) {
    .main-gallery {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
}

@media (min-width: 1520px) {
    .main-gallery {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}

@media (min-width: 1625px) {
    .main-gallery {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}