@media (min-width: 1000px) {
    
    .tooltip .tooltiptext {
        display: inline-block;
    }

    .tooltip-visible {
        opacity:1 !important;
         }

         .tooltiptext-mobile {
            display: none;
         }
         .tooltiptext-mobile-visible {
            opacity:0 !important;
             }

             
    header .logo {

        font-size: 1.7em;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    body>*:not(.full) {
        width: 95%;
    }

    header.main-header {
        margin: 20px 10px;
    }

    .gallery .gallery-header {
        flex-wrap: nowrap;
        gap: 15px;
    }

    .gallery .gallery-header>* {
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .gallery-header .search-bar {
        flex: 5;
        margin-inline-start: 40px;
    }

    .keywords-container{
    margin-inline-end: 35px;
    margin-inline-start: 15px;
    }

    .gallery-header .keywords{
        font-size: 1em;
    }

    .keywords-container .open-arrow {
        font-size: 2em;
    }
       
    
    .main-gallery {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-auto-rows: minmax(min-content, max-content);
        grid-auto-flow: dense;
        height: 550px;
        width: 95%;
    }

    .main-gallery>* {
        aspect-ratio: 1/1;
    }

    .main-gallery .mems-img {
        grid-column: span 2;
        grid-row: span 2;
    }

    ion-icon.menu-btn {
        display: none;
    }
}

@media (min-width: 1100px) {
    .main-gallery {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        
    }
}

@media (min-width: 1260px) {
    .main-gallery {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        
    }
}