
.main-editor-container {
 
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* CANVAS */
.main-canvas-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.main-canvas {
    width: 95vw;
}

.main-editor {
    height: 60%;
    background-color: hsla(217, 25%, 94%, 0.11);
    border-radius: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
         'text text text text'
        'switch add delete file'
        'editor editor editor editor'
        'stickers stickers stickers stickers'
        'share share download download'
    ;
    width: 95%;
}

/* EDITOR */
.text-input{
    width: 90%;
    margin: auto;
    text-align: center;
}
.mems-text{
    width: 90%;
    font-family: poppins-medium;
    color: var(--clr16);
    font-size: 1.6rem;
    border-radius: 28px;
    padding: 5px;
    text-align: center;
    border: none;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 var(--clr10);
}
.file {
    grid-area: file;
}

.text-input {
    grid-area: text;
}

.switch {
    grid-area: switch;
}

.add-line {
    grid-area: add;
}

.delete {
    grid-area: delete;
}

.editor-top {
    grid-area: editor-top;
    gap:50px
}

.editor-bottom {
    grid-area: editor-bottom;
    gap:50px
}

.text-editor {
    background-color: var(--clr1);
    flex-wrap: wrap;
    grid-area: editor;
    display: grid;
    grid-template-areas:
        'editor-top'
        'editor-bottom'
    ;
    gap: 20px;
    width: 80%;
    padding: 15px;
    border-radius: 15px;
}

.font-select{
    flex-basis: 40%;
    font-size: 2em;
}

.stickers {
    grid-area: stickers;
}

.share {
    grid-area: share;
}

.download {
    grid-area: download;
}

.main-editor ion-icon,
.main-editor i {
    pointer-events: none;
    font-size: 3em;
}

.main-editor span:hover {
    color: var(--clr2);
    cursor: pointer;
}

.main-editor .text-editor span:hover {
    color: var(--clr17);
    cursor: pointer;
}

.main-editor .big-btn{
    display: inline-block;
    color: var(--clr10);
    background-color: var(--clr3);
    font-size: 1.3em;
    padding: 10px 20px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff36;
    border-radius: 15px;
}
.big-btn ion-icon{
    font-size: 1.5em;
}

.color-input {
    width: 0;
    height: 0;
    opacity: 0;
}