@media (min-width: 1000px) {

    .main-editor-container {
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }

    .text-editor {
        width: 80%;
    }

    .main-canvas {
        width: 100%;
    }
    .stickers {

        min-height: 10px;
    }

    .main-editor .top-buttons>* {
        margin: 0 15px;
    }

    .editor-top,
    .editor-bottom {
        gap: 25px
    }

    .main-editor .big-btn {
        font-size: 1em;
        margin: 5px;
    }

    .big-btn.share::after {
        content: 'Share'
    }

    .big-btn.save::after {
        content: 'Save'
    }

    .big-btn.download::after {
        content: 'Download'
    }

}