@media (min-width: 768px) {

     .main-editor-container {
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }

    .main-editor {
        height: 70vh;
    }

    .text-editor {
        width: 80%;
    }

    .main-canvas {
        width: 100%;
    }

    .main-editor .top-buttons>* {
        margin: 0 15px;
    }

    .editor-top,
    .editor-bottom {
        gap: 50px
    }

    .big-btn.share::after {
        content: 'Share'
    }

    .big-btn.save::after {
        content: 'Save'
    }

    .big-btn.download::after {
        content: 'Download'
    }

}