@media (min-width: 768px) {

    body{
        overflow: hidden;
    }

    .main-editor-container {
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }

    .main-canvas {
        width: 100%;
    }

    .main-gallery .mems-img:nth-child(6n + 1) {
        grid-column: span 4;
        grid-row: span 4;
    }

    .editor-top,
    .editor-bottom {
        gap: 50px
    }

    .big-btn.share::after{
        content: 'Share'
    }

    .big-btn.save::after{
        content: 'Save'
    }

    .big-btn.download::after{
        content: 'Download'
    }
    
}